:root {
  --transparent-arrow-border: 10px solid transparent;
  --solid-arrow-border: 15px solid;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(23, 23, 23);
  font-family: Arial, Helvetica, sans-serif;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: auto;

  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  padding: 30px;
}

.calendar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  /* border: 1px solid white; */
}

.header-date {
  display: flex;
  gap: 10px;
  font-size: 1.3em;
}

.prev {
  position: relative;
  width: 0;
  height: 0;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-right: var(--solid-arrow-border) #6616b0;
}

.prev:hover {
  position: relative;
  cursor: pointer;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-right: var(--solid-arrow-border) #7c1dd4;
}

.prev:active {
  position: relative;
  top: 1px;
  cursor: pointer;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-right: var(--solid-arrow-border) #6616b0;
}

.next {
  position: relative;
  width: 0;
  height: 0;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-left: var(--solid-arrow-border) #6616b0;
}

.next:hover {
  position: relative;
  cursor: pointer;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-left: var(--solid-arrow-border) #7c1dd4;
}

.next:active {
  position: relative;
  top: 1px;
  cursor: pointer;
  border-top: var(--transparent-arrow-border);
  border-bottom: var(--transparent-arrow-border);
  border-left: var(--solid-arrow-border) #6616b0;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: rgb(176, 176, 176);
  font-weight: bold;
  /* border: 1px solid white; */
}

.calendar-week-day {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.calendar-month-day {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease;
}

.calendar-month-day:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}

.calendar-month-today {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #7c1dd4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease;
}
