* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#pagination {
  display: flex;
  gap: 10px;
}

#table-wrapper {
  min-height: 250px;
}

table {
  width: 50%;
  border: 1px solid gray;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  border: 1px solid gray;
}

.button {
  position: relative;
  padding: 10px;
  background-color: gray;
  border: none;
  color: #fff;
  font-weight: bold;
}

.button:hover {
  position: relative;
  cursor: pointer;
  background-color: rgb(114, 114, 114);
}

.button:active {
  position: relative;
  top: 1px;
}

.button.selected {
  position: relative;
  padding: 9px;
  background-color: white;
  border: 1px solid gray;
  color: gray;
  font-weight: bold;
}
